<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Imports-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize\css\materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/materialize\css\materialize.min.css"  media="screen,projection"/>
    <style type="text/css">
    table.striped>tbody>tr:nth-child(odd){background-color:grey}
    form input[type=submit]{color:white;}
    </style>

    <title>Cadastro</title>
</head>
<body>
    <h4>Spring Boot + Thymeleaf + Material Design </h4>
    <h2>Cadastro de Pessoas</h2>
    <div th:each="${p: ${pessoasobj}}">
        <div class="row">
            <p>ID: <span th:text="{p.id}"></span></p>
        </div>
    </div>
    
    <!-- Iports JavaScript-->
    <script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>